<div class="popup">
  <div class="view view-popup navbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="back link close-popup">
            <i class="icon icon-back"></i>ตั้งค่าแบบบันทึกกิจวัตรประจำวัน
          </a>
        </div>
        <div class="right contact-save-link">
          <a href="#" class="link">บันทึก</a>
        </div>
      </div>
    </div>
    <div class="page">
      <div class="page-content contact-edit-form">
        <div style="height:100%" class="swiper-container swiper-init" data-speed="400" data-space-between="40" data-pagination=".swiper-pagination">
          <div class="swiper-wrapper">
            <div class="swiper-slide">

              <div class="content-block-title">ด้านที่ 1</div>
              <div class="list-block">
                <ul>
                  <!-- Single chekbox item -->
                  <li>
                    <label class="label-checkbox item-content">
                      <!-- Checked by default -->
                      <input type="checkbox" name="my-checkbox" value="Books" checked="checked" />
                        <div class="item-media">
                          <i class="icon icon-form-checkbox"></i>
                        </div>
                        <div class="item-inner">
                          <div class="item-title">Books</div>
                        </div>
                      </label>
                  </li>
                  <!-- Another chekbox item -->
                  <li>
                    <label class="label-checkbox item-content">
                      <input type="checkbox" name="my-checkbox" value="Movies" />
                        <div class="item-media">
                          <i class="icon icon-form-checkbox"></i>
                        </div>
                        <div class="item-inner">
                          <div class="item-title">Movies</div>
                        </div>
                      </label>
                  </li>
                </ul>
              </div>


            </div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
            <div class="swiper-slide">Slide 3</div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>