<div id="takePhotoPanel" class="popup">
    <div class="view view-popup navbar-fixed">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="back link close-modal">
                        <i class="icon icon-back"></i><div id="mapTitle">ถ่ายรูป</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="page">
            <div class="page-content contact-edit-form">
                <div class="contact-header">
                    <div class="item-photo">
                        <img src="img/cats/{{model.picId}}.png" />
                    </div>
                    <div class="header-text">
                        <h3>{{model.firstName}} {{model.lastName}}</h3>
                        <p>{{model.company}}</p>
                        <p>ประเมินล่าสุดเมื่อ 11/22/33</p>
                    </div>
                </div>
                <div style="text-align:center;padding: 0 20px 0 20px">
                    <p class="buttons-row">
                        <a href="#" class="button button-raised button-homePhoto">ถ่ายรูปบ้าน</a>
                        <a href="#" class="button button-raised button-personPhoto">ถ่ายรูปครอบครัว</a>
                    </p>
                </div>
                <div style="height:300px;width:100%">
                    <img id="cameraPic" />
                </div>
            </div>
        </div>
    </div>
</div>