<div id="newFormModal" class="popup tablet-fullscreen">
  <div class="view view-popup navbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="back link">
            <i class="icon icon-back"></i>สร้างแบบบันทึกกิจวัตรประจำวัน
          </a>
        </div>
      </div>
    </div>
    <div class="page">
      <div class="page-content contact-edit-form">
        <div style="height:100%" class="swiper-container swiper-init" data-speed="400" data-space-between="40" data-pagination=".swiper-pagination">
          <div class="swiper-wrapper">

            {{#each model}}
            <div class="swiper-slide">
              <div class="content-block-title">{{sectionName}}</div>
              <div class="list-block">
                <ul>
                  {{#each data}}
                  <li>
                    <label class="label-checkbox item-content">
                      <input type="checkbox" section="{{../sectionId}}" value="{{qId}}" />
                      <div class="item-media">
                        <i class="icon icon-form-checkbox"></i>
                      </div>
                      <div class="item-inner">
                        <div class="item-title">{{qText}}</div>
                      </div>
                    </label>
                  </li>
                  {{/each}}
                </ul>
              </div>
            </div>
            {{/each}}

            <div class="swiper-slide">
              <div class="content-block-title">บันทึกแบบฟอร์มที่สร้าง</div>
              <div class="list-block">
                <ul>
                  <!-- Text inputs -->
                  <li>
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title label">ชื่อแบบฟอร์ม</div>
                        <div class="item-input">
                          <input type="text" id="input-form-name" placeholder="ชื่อ" />
                        </div>
                      </div>
                    </div>
                  </li>
                  <!-- Textarea -->
                  <li class="align-top">
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title label">คำอธิบายแบบฟอร์ม</div>
                        <div class="item-input">
                          <textarea id="input-form-detail"></textarea>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <a href="#" class="button active contact-save-link">บันทึก</a>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>

