<div id="syncModal" class="popup">
  <div class="view view-popup navbar-fixed">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="back link">
            <i class="icon icon-back"></i>จัดการข้อมูล
          </a>
        </div>
      </div>
    </div>

    <div class="page">
      <div class="page-content pull-to-refresh-content">
        <div class="list-block-label" style="text-align:center;margin-top:50px">
          <p class="update-time-text"></p>
        </div>
        <div class="pull-to-refresh-layer" style="margin-top:-80px">
          <div class="preloader"></div>
          <div class="pull-to-refresh-arrow"></div>
        </div>
        <div class="content-block-title">ชั้นที่สอน</div>
        <div class="list-block sync-content"></div>
      </div>
    </div>

    <div class="panel-overlay"></div>
    <div class="panel panel-right panel-cover right-panel-list"></div>
  </div>
</div>

